@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-end">
        <a class="btn btn-outline-primary"><i class="fa-sharp fa-solid fa-circle-plus"></i> add Actor</a>
    </div>
    <div>
        <h5>Nulla da vedere</h5>
    </div>

</div>
